<div class="card my-3">
    <div class="card-header">
        <h3 class="card-title text-center">{{country.name}}</h3>
    </div>
    <img src="{{country.flag}}" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Code: {{country.code}}</p>
        <p class="card-text">Continent: {{country.continent}}</p>
        <p class="card-text">Calling code: {{country.calling_code}}</p>
        <p class="card-text">Currency name: {{country.currency_name}}</p>
        <p class="card-text">Currency symbol: {{country.currency_symbol}}</p>
        <p class="card-text">Population: {{country.population}}</p>
        <p class="card-text">See: {{country.see}}</p>
    </div>
    <div class="card-body ">
        <div class="btn-group d-flex">
            <button class="btn btn-danger " type="button"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            <button class="btn btn-success " type="button"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
        </div>
    </div>
</div>