<div class="card my-3">
    <div class="card-header">
        <h3 class="card-title text-center">{{lego.title}}</h3>
    </div>
    <img src="{{lego.img}}" class="card-img-top" alt="{{lego.title}}">
    <div class="card-body">
        <p class="card-text">{{lego.description}}</p>
        <p class="card-text">Kód: {{lego.code}}</p>
        <p class="card-text">Kor: {{lego.age}}</p>
        <p class="card-text">Darabszám: {{lego.piece}}</p>
        <p class="card-text">Év: {{lego.year}}</p>
        <p class="card-text">Ár: {{lego.price}}</p>
        <p class="card-text">Kedveltség: {{lego.stars}}</p>
        <p class="card-text">Leárazás: {{lego.discont}}</p>
        <p class="card-text">Kép helye: {{lego.img}}</p>

    </div>
    <div class="card-body ">
        <div class="btn-group d-flex">
            <button class="btn btn-danger " type="button"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            <button class="btn btn-success " type="button"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
        </div>
    </div>
</div>