<div class="card my-3">
    <div class="card-header">
        <h3 class="card-title text-center">{{lego.title}}</h3>
    </div>
    <img src="{{lego.img}}" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Code: {{lego.code}}</p>
        <!-- <p class="card-text">Continent: {{lego.continent}}</p>
        <p class="card-text">Calling code: {{lego.calling_code}}</p>
        <p class="card-text">Currency name: {{lego.currency_name}}</p>
        <p class="card-text">Currency symbol: {{lego.currency_symbol}}</p>
        <p class="card-text">Population: {{lego.population}}</p>
        <p class="card-text">See: {{lego.see}}</p> -->
    </div>
    <div class="card-body ">
        <div class="btn-group d-flex">
            <button class="btn btn-danger " type="button"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            <button class="btn btn-success " type="button"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
        </div>
    </div>
</div>