<div class="row mt-5">
    <div *ngIf="(lego$ | async) as lego" class="col-6 offset-3">
        <h2 *ngIf="lego['id']==0">Új termék tulajdonságainak beállítása</h2>
        <h2 *ngIf="lego['id']>0">Termék tulajdonságainak beállítása</h2>
        <form #editForm="ngForm" (ngSubmit)="onUpdate(editForm, lego)">
            <div class="form-group">
                <label for="">Név</label>
                <input name="title" [(ngModel)]="lego.title" type="text" class="form-control" pattern=".{8,}" required>
                <div [hidden]="editForm.controls['title'].valid" class="error-message">
                    A név legalább 8 karater hosszú legyen.
                </div>
            </div>
            <div class="form-group">
                <label for="">Leírás</label>
                <textarea name="desc" [(ngModel)]="lego.description" type="text" class="form-control" pattern=".{8,255}"
                    rows="3" required></textarea>
                <div [hidden]="editForm.controls['desc'].valid" class="error-message">
                    A leírás legalább 8, maximum 255 karater hosszú lehet.
                </div>
            </div>
            <div class="form-group">
                <label for="">Kategória</label>
                <select name="catId" [(ngModel)]="lego.category" class="form-control" id="exampleFormControlSelect1"
                    required>
                    <option disabled></option>
                    <option value="1">LEGO® Brickheadz</option>
                    <option value="2">LEGO® Minecraft®</option>
                    <option value="3">LEGO® Super Mario™</option>
                </select>
                <div [hidden]="editForm.controls['catId'].valid" class="error-message">
                    Kérem válasszon ki egy kategóriát!
                </div>
            </div>
            <div class="form-group">
                <label for="">Termékazonosító</label>
                <input name="code" [(ngModel)]="lego.code" type="text" class="form-control" pattern="^[0-9\-]*$"
                    required>
                <div [hidden]="editForm.controls['code'].valid" class="error-message">
                    A termékazonosító csak szám lehet.
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="">Date</label>
                <input name="date" [(ngModel)]="lego.date" type="text" class="form-control"
                    pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}" required>
                <div [hidden]="editForm.controls.date?.valid" class="error-message">
                    The date of the event must be same format: 00/00/0000
                </div>
            </div>
            <div class="form-group">
                <label for="">Time</label>
                <input name="time" [(ngModel)]="lego.time" type="text" class="form-control" pattern="[0-1][0-9][ap]m"
                    required>
                <div [hidden]="editForm.controls.time?.valid" class="error-message">
                    The time of the event must be same format: 11am or 11pm
                </div>
            </div>
            <div class="form-group">
                <label for="">Location</label>
                <input name="location" [(ngModel)]="lego.location" type="text" class="form-control"
                    pattern="[A-Z].{4,24}" required>
                <div [hidden]="editForm.controls.location?.valid" class="error-message">
                    The location of the event must be start with capital letter and min 5, max 25 characters lenght.
                </div>
            </div> -->

            <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary btn-block">
                <i class="fa fa-save"></i> Mentés
            </button>
        </form>
    </div>
</div>