<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>
                Üdvözöllek a KockaVilág birodalmában!
            </h1>
            <div class="my-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur explicabo tempore doloribus
                maxime? Pariatur atque corrupti necessitatibus? Officiis, temporibus. Eveniet repudiandae et tempore
                suscipit sapiente minus aperiam nostrum autem laboriosam!
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary btn-lg" routerLink="/legos" type="button">Ugrás a termékekre</button>
        </div>
    </div>
</div>